<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-5 col-lg-4">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <input
              [(ngModel)]="value1"
              name="value1"
              type="number"
              class="form-control form-control-lg"
            />
          </div>
          <div class="mb-3">
            <input
              [(ngModel)]="value2"
              name="value2"
              type="number"
              class="form-control form-control-lg"
            />
          </div>
        </form>
        <div class="d-flex gap-1">
          <button (click)="sumar()" type="button" class="btn btn-primary">
            +
          </button>
          <button (click)="restar()" type="button" class="btn btn-primary">
            -
          </button>
          <button (click)="multiplicar()" type="button" class="btn btn-primary">
            *
          </button>
          <button (click)="dividir()" type="button" class="btn btn-primary">
            /
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5 col-sm-10 mt-md-0 col-md-6 col-lg-4">
    <app-resultados
      [currentResult]="currentResult"
      [results]="results"
    ></app-resultados>
  </div>
</div>
