<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-5 col-lg-4">
    <div class="card">
      <div class="card-body">
        <app-form-calculadora
          (changeValue1)="value1 = $event"
          (changeValue2)="value2 = $event"
        ></app-form-calculadora>
        <div class="d-flex gap-1">
          <app-button (click)="sumar()" [label]="'+'"></app-button>
          <app-button (click)="restar()" [label]="'-'"></app-button>
          <app-button (click)="multiplicar()" [label]="'*'"></app-button>
          <app-button (click)="dividir()" [label]="'/'"></app-button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-5 col-sm-10 mt-md-0 col-md-6 col-lg-4">
    <app-resultados
      [currentResult]="currentResult"
      [results]="results"
    ></app-resultados>
  </div>
</div>
